version: '2'

services:
  gallery:
    image: quay.io/theassassin/fgallery
    # build:
    #   context: .
    #   cache_from:
    #     # speed up build by reusing as many layers as possible from prebuilt image
    #     - quay.io/theassassin/fgallery
    restart: unless-stopped
    ports:
      - 127.0.0.1:1080:80
    environment:
      # - GALLERY_TITLE="My Gallery"
    volumes:
      - <your images directory>:/images:ro
